@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Set Quadrant</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">*@
    <link href="~/JSValidation/style.css" rel="stylesheet" type="text/css">
    <link href="~/JSValidation/component.css" rel="stylesheet" type="text/css">
    <link href="~/JSValidation/default.css" rel="stylesheet" type="text/css">
    <link href="~/JSValidation/style (2).css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        /* CSS REQUIRED */
        .state-icon {
            left: -5px;
        }

        .list-group-item-primary {
            color: rgb(255, 255, 255);
            background-color: rgb(66, 139, 202);
        }
        /* DEMO ONLY - REMOVES UNWANTED MARGIN */
        .well .list-group {
            margin-bottom: 0px;
        }
    </style>

    <script>
        $(document).ready(function (e) {
            var count = @Model.lstQudMeasuresList.Count;
            if(count > 0){
                for(i=1 ; i <= count ; i++){
                    if($("#hdnGoalID" + i).val() !=0 ){
                        $("#ddlGoalTile"+i).val($("#hdnGoalID" + i).val());
                    }
                    if($("#HdnchkAll" + i).val() == "1"){
                        $("#chkAll"+i).prop('checked', true);
                    }
                    else{
                        $("#chkAll"+i).prop('checked', false);
                    }
                    if($("#hdnDepatID"+i).val()!=""){
                        var arr = $("#hdnDepatID"+i).val().split(',');
                        for(j=0;j< arr.length ; j++){
                            var Id = arr[j];
                            if($("#tbody"+ i +"chk" + Id)){
                                $("#tbody"+ i +"chk" + Id).prop('checked', true);
                            }
                        }
                    }

                }
            }
        });
        function fnOnchange()
        {
            var id = $("#ddlDeptTypeList").val();
            if(id!="")
            {
                window.location.href='@Url.Action("QuadMeasuresList", "Performance")' +'/'+ id;
            }
            else
            {
                id="0";
                window.location.href='@Url.Action("QuadMeasuresList", "Performance")' +'/'+ id;
            }


        }
        function addNew() {
            var id = $("#ddlDeptTypeList").val();
            if(id!="")
            {
                alert("Please clear the search criteria befor add new Quadrant");
                return false;
            }

            var tbodyLength = $("#tblPerformanceQaudrant > tbody").length;
            var span = 0;
            var table = document.getElementById("tblPerformanceQaudrant");
            var Count = tbodyLength + 1;
            var tbody = document.createElement("tbody");
            tbody.setAttribute("id", "tbody" + Count);
            tbody.className="clearData";


            var rowCount = tbody.rows.length;
            var row = tbody.insertRow(rowCount);
            var idRowCount = rowCount + 1;

            var cell1 = row.insertCell(0);
            var element1 = document.createElement("label");
            var element11 = document.createElement("div");
            var element12 = document.createElement("div");
            var element30 = document.createElement("input");
            element30.type = "button";
            element30.value = "Add New";
            element30.onclick = function () {ShowModel(); }
            element30.className = "btnAdd btn btn-primary btn-large";
            element12.className = "col-md-5";
            element12.setAttribute("style", "margin-left:-50px;");
            element11.className = "col-md-6";
            element11.setAttribute("style", "margin-top:6px");
            element1.id = "lblCompanyName" + Count;
            element1.innerText = "Performance Quadrant :";

            var element2 = document.createElement("select");
            element2.value = "--Select--";
            element2.className = "form-control";
            element2.id = "ddlGoalTile" + Count;
            element2.textContent = "Option to select";
            cell1.appendChild(element11).appendChild(element1);
            cell1.appendChild(element12).appendChild(element2);
            cell1.appendChild(element30);

            var cell2 = row.insertCell(1);
            var element3 = document.createElement("label");
            element3.className = "pull-right";
            var element12 = document.createElement("div");
            element12.className = "col-md-5";
            element12.setAttribute("style", "margin-left:-50px;");
            element3.id = "lblCompanyName" + Count;
            element3.innerText = "Apply this Quadrant to all level below";
            var element4 = document.createElement("input");
            element4.id = "chkAll" + Count;
            element4.type = "checkbox";
            cell2.setAttribute("colspan", "3");
            cell2.appendChild(element3).appendChild(element4);


            row = tbody.insertRow(++rowCount);
            var cell3 = row.insertCell(0);
            var element5 = document.createElement("label");
            element5.id = "lblCompanyName" + Count;
            element5.innerText = "Quadrant Measure";
            cell3.setAttribute("colspan", "3");
            cell3.appendChild(element5);

            var cell5 = row.insertCell(1);
            var element8 = document.createElement("div");
            element8.id = "divCHKList" + Count;
            element8.setAttribute("style", "max-height:155px; overflow:auto");
            cell5.setAttribute("rowspan", "2");
            cell5.appendChild(element8);


            row = tbody.insertRow(++rowCount);
            var cell4 = row.insertCell(0);
            var element6 = document.createElement("textarea");
            element6.rows = "5";
            element6.className = "form-control";
            element6.id = "comment" +Count;
            element6.setAttribute("colspan", "3");
            cell4.appendChild(element6);
            table.appendChild(tbody)
            //Function For Load Data:-

            LoadData(element2.id, element8.id, Count);
        }
        function LoadData(ddlID, chklID, Count) {
            $.ajax({
                url: '@Url.Action("GetQuadrantList", "Performance")',
                dataType: 'json',
                type: "POST",
                contentType: 'application/json',
                success: function (data) {
                    $('#' + ddlID).append("<option value=''>-Select--</option>");
                    $.each(data.GoalTileModel, function (index, optionData) {
                        $('#' + ddlID).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                    //$('#' + chklID).append("<li class='list-group-item' id='chkAll" + Count + "' value='0' style='cursor: pointer;'><span class='state-icon glyphicon glyphicon-unchecked'></span>Select All<input type='checkbox' class='hidden'></li>");
                    $('#' + chklID).append("<table width='100%'><tbody><tr><td width='20px'><input type='checkbox' id='chkSelectAll" + Count + "' class='chkclass' onclick='GetCheck(" + Count + ")' value='"+data.DepartmentTypeModel.length+"' /></td><td width='100px'>Select All</td></tr></tbody></table>");
                    $('#' + chklID).append("<table id='tblChk" + Count + "' width='100%'></table>");
                    $.each(data.DepartmentTypeModel, function (index, optionData) {
                        var checkBoxId = "tbody" + Count + "chk" + optionData.Value;
                        var tdId = "td" + optionData.Value;
                        $('#tblChk' + Count).append("<tbody><tr><td width='20px'><input type='checkbox' id=" + checkBoxId + " class='chkclass' value=" + optionData.Value + " /></td><td id='" + tdId + "' width='100px'>" + optionData.Text + "</td></tr></tbody>");
                    });
                    $('#' + chklID).appendChild('#tblChk' + Count)
                    $('#' + ddlID).trigger("chosen:updated");
                    //$('#' + chklID).trigger("chosen:updated");
                },
                error: function (xhr, status, err) {
                    if (xhr.status == "590") {

                    }
                    else {
                        alert('Oops,Something went wrong.Please try after sometime.');
                    }
                }
            });
        }
        function fnSave() {

            //Check Valid Filed:-
            var flag=fnValidateFields();
            if(flag)
            {
                return false;
            }
            var k;
            var tbodyLength = $("#tblPerformanceQaudrant > tbody").length;
            var Goal = new Array();
            var Comment = new Array();
            var all = new Array();
            var departMentMain = new Array();

            for (i = 1; i <= tbodyLength; i++) {
                var str = "";
                Goal.push($('#ddlGoalTile' + i + ' :selected').val());
                Comment.push($("#comment" + i).val());
                var count = $("#chkSelectAll" + i).val();
                if ($('#chkAll' + i).prop('checked')) {
                    all.push(1);
                }
                else {
                    all.push(0);
                }

                for (j = 1; j <= count; j++) {
                    if ($('#tbody' + i + "chk" + j).prop('checked')) {
                        str = str + $('#tbody' + i + "chk" + j).val() + ",";

                    }
                }
                k = i;
                departMentMain.push(str);
            }
            $.ajax({
                url: '@Url.Action("SaveData", "Performance")',
                dataType: 'json',
                type: "POST",
                data: '{"Goal":' + JSON.stringify(Goal) + ',"Comment":' + JSON.stringify(Comment) + ',"all":' + JSON.stringify(all) + ',"Depaerment":' + JSON.stringify(departMentMain) + ',"Total":' + JSON.stringify(k) + '}',
                contentType: 'application/json',
                success: function (data) {
                    alert("Quadrant measure saved successfully");
                    window.location.href = '@Url.Action("Index", "Performance")';
                },
                error: function (status, xhr, err) {
                    alert(err.textContent)
                }

            });
        };
        //Call Model Popup:-
        function ShowModel() {
            document.getElementById('aAddNew').click();
        }
        //Validation For New Field:-
        function fnValidateFields()
        {
            var tbodyLength = $("#tblPerformanceQaudrant > tbody").length;
            var flag = false;
     
            for(i=1; i<= tbodyLength ;i++)
            {
                if($("#comment"+i).val() == "")
                {
                
                    $("#spnErrorMessage").css("display","block");
                    flag =true;
                }
                if($("#ddlGoalTile"+i).val() == "")
                {
                    $("#spnErrorMessage").css("display","block");
                    flag =true;
                }
            }
            //var tes=CheckBoxValidation();
            //if(tes)
            //{
            //    flag=false;
            //    alert(flag);
            //}
            //else
            //{
            //    flag=true;
            //    alert(flag);
            //}
            if(!flag)
            {
                $("#spnErrorMessage").css("display","none");
            }
          
            return flag;
        }
        function CheckBoxValidation(){
 
            var tbodyLength = $("#tblPerformanceQaudrant > tbody").length;
            var flag=0;
            var counts=0;
            for(i=1; i<= tbodyLength ;i++)
            {
                var check=0;
                var count = $("#chkSelectAll" + i).val();
                for(j=1; j<= count ;j++)
                {
                    if($("#tbody"+i+"chk"+j).prop('checked') == false)
                    {
                        check++;
                        
                       
                    }
                    else
                    {
                        check=0;
                    }
                }
                if(check==0)
                {
                    flag++;
                }
                else
                {
                    flag=0;
                }
                counts++;
            }
            if(counts==flag)
            {
                return true;
            }
            else{
                return false;
            }
           
            //if(check==1)
            //{
            //    alert('hi');
            //    $("#spnErrorMessage").css("display","block");
               
            //}

        }
    </script>
    <script>

        function GetCheck(d) {
            if ($("#chkSelectAll" + d + "").is(":checked")) {
               var tbodyLength = $("#tbody" + d + " #tblChk" + d + " tbody").length;
                //var tbodyLength = $("#tblChk" + d+ "> tbody").length;
                for (var i = 1; i <= tbodyLength; i++) {
                    $("#tbody" + d + "chk" + i).prop('checked', true);
                }
            }
            else {
                var tbodyLength = $("#tbody" + d + " #tblChk" + d + " tbody").length;
                //var tbodyLength = $("#tblChk" + d).length;
                for (var i = 1; i <= tbodyLength; i++) {
                    $("#tbody" + d + "chk" + i).prop('checked', false);
                }
            }
        }
    </script>
</head>

<body>
    <div class="container-fluid">
        <br />
        <div class="panel-group" id="accordion">

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Set Quadrant</legend>

                <div class="container-fluid">
                    <div class="row">
                        <div class="bs-example">
                            <div class="col-md-12" id="divFilterDepartment">
                                <div class="col-md-9" style="margin-left: 54%;">
                                    <div class="col-md-4">
                                        <label class="pull-right">Filter By Department :</label>
                                    </div>
                                    <div class="col-md-4">
                                        @*<select class="form-control valid" id="ddlClient" name="SelectedExternalClient">
                                                <option value="0">--Select--</option>
                                                <option value="2">A4</option>
                                                <option value="3">A4</option>
                                                <option value="4">A4</option>
                                                <option value="5">Aquatro</option>
                                                <option value="7">test</option>
                                            </select>*@
                                        @Html.DropDownListFor(m => m.SelectedDeptList, new SelectList(Model.DepartmentTypeModel, "Value", "Text", ViewBag.Depart), "--Select--", new { @class = "testSelAll form-control ", id = "ddlDeptTypeList", @onchange = "fnOnchange()" })
                                    </div>
                                </div>
                            </div>
                            @if (@Model.lstQudMeasuresList.Count > 0)
                            {
                                <div id="divTableQuadrant" style="padding-top:50px;">
                                    <table width="100%" id="tblPerformanceQaudrant" class="table table-bordered">
                                       @{int i = 1;}
                                        @foreach (var item in @Model.lstQudMeasuresList )
                                        {
                                            var checkBoxAll = "chkSelectAll" +i;
                                            var tbody = "tbody" + i;
                                            var tblChk = "tblChk" + i;
                                            var comment = "comment" + i;
                                          
                                            <tbody id="@tbody">
                                                <tr>
                                                    <td width="50%">
                                                        <div>
                                                            <div class="col-md-6" style="margin-top:6px;">
                                                                <label>Performance Quadrant :</label>
                                                            </div>
                                                            <div class="col-md-5" style="margin-left:-50px;">
                                                                @Html.DropDownListFor(m => m.objEmpQudrants.objGoals, new SelectList(Model.GoalTileModel, "Value", "Text"), "--select--", new { @class = "form-control chzn-select-deselect", id = "ddlGoalTile" + @Html.DisplayFor(modelItem => item.Count), style = "display:inline" })
                                                                @Html.HiddenFor(modelItem => item.GoalID, new { id = "hdnGoalID" + @Html.DisplayFor(modelItem => item.Count) })
                                                            </div>

                                                            <div class="md-overlay"></div>
                                                            <div class="col-md-2" style="margin-left:-25px;">
                                                                <div id="thanks"><p><a data-toggle="modal" id="aAddNew" href="#form-content" class="btn btn-primary btn-large">Add New</a></p></div>
                                                                @*<button type="button" class="btn btn-primary md-trigger" target="#form-content" data-modal="modal-16">Add New</button>*@
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td colspan="3" width="40%">
                                                        <label class="pull-right">
                                                            Apply this Quadrant to all level below
                                                            @Html.CheckBoxFor(m => m.AllLevelFlag, new { id = "chkAll" + @Html.DisplayFor(modelItem => item.Count) })
                                                        </label>
                                                        @Html.HiddenFor(modelitem => item.AllLevelFlag, new { id = "HdnchkAll" + @Html.DisplayFor(modelItem => item.Count) })
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td colspan="3"><label>Quadrant Measure</label></td>
                                                    <td rowspan="2">
                                                        <div style="max-height:155px; overflow:auto;">
                                                            @*@for (int i = 1; i <= @Model.DepartmentTypeModel.Count(); i++)
                                                            {*@
                                                          
                                                                <table width="100%">
                                                                    <tr>
                                                                        <td width="20px">
                                                                            
                                                                            <input type="checkbox" id="@checkBoxAll" onclick="GetCheck(@i)" class="chkclass" value="@Model.DepartmentTypeModel.Count()" />
                                                                        </td>
                                                                        <td width="100px">
                                                                            Select All
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            @*}*@

                                                            @Html.HiddenFor(modelitem => item.DeptID, new { id = "hdnDepatID" + @Html.DisplayFor(modelItem => item.Count) })
                                                            <table width="100%" id="@tblChk">
                                                                @foreach (var names in @Model.DepartmentTypeModel)
                                                                {
                                                                    var checkBoxId = "tbody" + item.Count + "chk" + names.Value;
                                                                    var tdId = "td" + names.Value;

                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="20px">
                                                                                <input type="checkbox" id="@checkBoxId" name="checkDepart" class="chkclass" value="@names.Value" />

                                                                            </td>
                                                                            <td id="@tdId" width="100px">
                                                                                @names.Text
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                }
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"><textarea class="form-control" rows="5" id="@comment">@Html.DisplayFor(modelItem => item.Measures) </textarea></td>
                                                </tr>
                                            </tbody>
                                            i++;
                                        }
                                    </table>

                                </div>
                            }
                            else
                            {
                                <div id="divTableQuadrant" style="padding-top:50px;">
                                    <table width="100%" id="tblPerformanceQaudrant" class="table table-bordered">
                                        <tbody id="tbody1" class="clearData">
                                            <tr>
                                                <td width="50%">
                                                    <div>
                                                        <div class="col-md-6" style="margin-top:6px;">
                                                            <label>Performance Quadrant :</label>
                                                        </div>
                                                        <div class="col-md-5" style="margin-left:-50px;">
                                                            @Html.DropDownListFor(m => m.objEmpQudrants.objGoals, new SelectList(Model.GoalTileModel, "Value", "Text"), "--select--", new { @class = "form-control chzn-select-deselect", id = "ddlGoalTile1", style = "display:inline" })
                                                        </div>

                                                        <div class="md-overlay"></div>
                                                        <div class="col-md-2" style="margin-left:-25px;">
                                                            <div id="thanks"><p><a data-toggle="modal" id="aAddNew" href="#form-content" class="btn btn-primary btn-large">Add New</a></p></div>
                                                            @*<button type="button" class="btn btn-primary md-trigger" target="#form-content" data-modal="modal-16">Add New</button>*@
                                                        </div>
                                                    </div>
                                                </td>

                                                <td colspan="3" width="40%">
                                                    <label class="pull-right"> Apply this Quadrant to all level below <input type="checkbox" id="chkAll1"></label>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td colspan="3"><label>Quadrant Measure</label></td>
                                                <td rowspan="2">
                                                    <div style="max-height:155px; overflow:auto;">

                                                        <table width="100%">
                                                            <tr>
                                                                <td width="20px">
                                                                    <input type="checkbox" id="chkSelectAll1" onclick="GetCheck(1)" class="chkclass" value="@Model.DepartmentTypeModel.Count()" />
                                                                </td>
                                                                <td width="100px">
                                                                    Select All
                                                                </td>
                                                            </tr>
                                                        </table>



                                                        <table width="100%" id="tblChk1">
                                                            @foreach (var names in @Model.DepartmentTypeModel)
                                                            {
                                                                var checkBoxId = "tbody1chk" + names.Value;
                                                                var tdId = "td" + names.Value;

                                                                <tbody>
                                                                    <tr>
                                                                        <td width="20px">
                                                                            <input type="checkbox" id="@checkBoxId" name="checkDepart" class="chkclass" value="@names.Value" />

                                                                        </td>
                                                                        <td id="@tdId" width="100px">
                                                                            @names.Text
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                    @*@Html.DropDownListFor(m => m.SelectedDeptList, new SelectList(Model.DepartmentTypeModel, "Value", "Text", Model.DepartmentTypeModel.SelectedValue), new { @class = "form-control ", id = "ddlDeptTypeList"})*@
                                                    @*</div>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><textarea class="form-control" rows="5" id="comment1"></textarea></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="container">
                    <span id="spnErrorMessage" style="color:red;display:none">Please make sure all details are correct and filled</span>
                    <button type="button" class="btn btn-primary" id="btnSave" onclick="fnSave()">Save</button>
                    <button type="button" class="btn btn-primary" onclick="clearInputs()">Reset</button>
                    
                    <br><br>
                    <button type="button" class="btn btn-primary" onclick="addNew()">Set New Quadrant</button>
                    <button type="button" class="btn btn-primary" onclick="ReleaseQuadrant()">Release Quadrant</button>
                </div>
                <div class="modal fade" id="form-content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Quadrant</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputName2">Name</label>
                                    <input type="text" class="form-control" id="txtQuadrant" placeholder="Quadrant name..">
                                    <span id="spnQuadError" style="color:red;display:none">Please enter quadrant name</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button onclick="AddQuadrant()" class="btn btn-success" id="submit">submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <br>
    </div>
    <script>
        function ValidQuadrant(){
            
        }
        function AddQuadrant() {
            var txt = $("#txtQuadrant").val();

            if(txt.trim()=="")
            {
                $("#spnQuadError").css("display","block");
                return false;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddQuadrants", "Performance")',
                dataType: 'json',
                data: '{"QuadrantName":' + JSON.stringify(txt) + '}',

                contentType: 'application/json',
                success: function (data) {
                    alert('Quadrant added sucessfully');
                    window.location.href = '@Url.Action("Index", "Performance")';
                },
                error: function (xhr, status, err) {
                    if (xhr.status == "590") {

                    }
                    else {
                        alert('Oops,Something went wrong.Please try after sometime.' + err.textContent);
                    }
                }
            });
        }

        function ReleaseQuadrant() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReleaseQuadrants", "Performance")',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if(data=="1")
                    {
                        alert("Quadrant released sucessfully");
                    }
                    if(data=="2")
                    {
                        alert("There is no quadrant for release");
                    }
                },
                error: function (xhr, status, err) {
                    if (xhr.status == "590") {

                    }
                    else {
                        alert('Oops,Something went wrong.Please try after sometime.' + err.textContent);
                    }
                }
            });
        }
        function clearInputs() {
            jQuery(".clearData").find(':input').each(function() {
                switch(this.type) {
                    case 'text':
                    case 'textarea':
                    case 'select-one':
                    case 'select-multiple':
                        jQuery(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                }
            });
        }
    </script>
</body>
</html>