@model AquatroHRIMS.Models.ChangePassword
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <!-- PUT YOUR LOGO HERE -->
        @if (!Request.IsAuthenticated)
        {
            <img src="~/Content/Images/logo.jpg" />
        }
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">

        @using (Ajax.BeginForm("ChangePassword", "Login", new AjaxOptions { UpdateTargetId = "divResult", OnBegin = "Begin", OnSuccess = "Success", OnFailure = "failure()" }))
        {

        @Html.HiddenFor(m=>m.hdnEmail);
            <div id="divResult" class="alert alert-error hide" >

            </div>
          <!-- BEGIN LOGIN FORM -->
            <div id="divLogin">
                <h3 class="form-title">Change Password</h3>
                @if (Request.IsAuthenticated)
                {

                    <div class="control-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Current Password</label>

                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Current Password", id = "txtCurrentPassword", onkeyup = "OnChange()" })
                            @*@Html.PasswordFor(m => m.CurrentPassword, new { @class ="m-wrap placeholder-no-fix", @Placeholder = "Password", id = "txtCurrentPassword" })*@
                            <span style="color:red">@Html.ValidationMessageFor(model => model.CurrentPassword)</span>
                        </div>

                    </div>
                }

                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">New Password</label>

                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "m-wrap placeholder-no-fix", @Placeholder = "New Password", id = "txtnewpassword" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.NewPassword)</span>
                    </div>

                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">Re-enter New Password</label>

                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.LoginConfirmPassword, new { @class = "m-wrap placeholder-no-fix", @Placeholder = "Confirm Password", id = "txtconfirmpassword" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.LoginConfirmPassword)</span>
                    </div>

                </div>
            </div>


            <div class="form-actions">
                @if (!Request.IsAuthenticated)
                {

                    @*<span>@Html.ActionLink("Go to Login", "Index", "Login")</span>*@
                    <a type="button" href="~/Login/Index" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> Cancel
                    </a>
                    @*@Html.ActionLink("Cancel", "Index", "Login")*@
                }
                <button type="submit" class="btn blue pull-right">
                    Change Password <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>

        <!-- END FORGOT PASSWORD FORM -->
        }
    </div>
    <!-- END LOGIN -->
    <script type="text/javascript">
        $(document).ready(function () {

            //For Login Enter Detail:-
            $("#txtUserName").val("dharam6990");
            $("#txtPassword").val("dharam6990");
            //Remove above code after Testing:-
        });
        function OnChange() {
            $("#divResult").addClass("hide");
        }

        function Begin() {
        }
        function Success(response, status, xhr) {
            $("#divResult").removeClass("hide");
            var res =divResult.textContent;
            if (res == "1") {
                $("#divResult").text("Password update sucessfully.");
                window.location.href = '@Url.Action("Index", "Login")';
            }
            if (res == "2") {
                $("#divResult").text("Password updated sucessfully.");
                window.location.href = '@Url.Action("Index", "DashBoard")';
            }
            if (res == "3") {
                $("#divResult").remove();
                alert("Error in updating your password.Please try later");
            }
        }
        function Failure(xhr, status, err) {
            alert('Oops,Something went wrong.Please try after sometime.');
        }
        function Complete() {
        }
    </script>
    <script>

        function ShowLoginDiv() {
            $("#divResult").addClass("hide");
            $("#divLogin").show();
            $("#divForgorPassword").hide();
            $(".field-validation-error").text('');
            $("#txtForgotEmail").val('');
            $('#RememberMe').attr('checked', false);

        }
        function ShowForgot() {
            $("#txtusername").val('');
            $("#txtpassword").val('');

            $("#divLogin").hide();
            $("#divForgorPassword").show();
        }
    </script>

    @*@RenderSection("scripts", required: false)*@
    <!-- END JAVASCRIPTS -->
</body>

