@model AquatroHRIMS.Models.ChangePassword
@{
    ViewBag.Title = "Login";
    Layout = null;

}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    @*<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
    <script src="~/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/excanvas.min.js"></script>
    <script src="~/assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/js/app.js" type="text/javascript"></script>
    <script src="~/assets/js/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    @if (!Request.IsAuthenticated)
    { 
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <!-- PUT YOUR LOGO HERE -->
        @if (!Request.IsAuthenticated)
        {
            <img src="~/Content/Images/logo.jpg" />
        }
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">

        @using (Ajax.BeginForm("ChangePassword", "Login", new AjaxOptions { UpdateTargetId = "divResult", OnBegin = "Begin", OnSuccess = "Success", OnFailure = "failure()" }))
        {

        @Html.HiddenFor(m=>m.hdnEmail);
            <div id="divResult" class="alert alert-error hide" >

            </div>
          <!-- BEGIN LOGIN FORM -->
            <div id="divLogin">
                <h3 class="form-title">Change Password</h3>
                @if (Request.IsAuthenticated)
                {

                    <div class="control-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Current Password</label>

                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Current Password", id = "txtCurrentPassword", onkeyup = "OnChange()" })
                            @*@Html.PasswordFor(m => m.CurrentPassword, new { @class ="m-wrap placeholder-no-fix", @Placeholder = "Password", id = "txtCurrentPassword" })*@
                            <span style="color:red">@Html.ValidationMessageFor(model => model.CurrentPassword)</span>
                        </div>

                    </div>
                }

                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">New Password</label>

                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "m-wrap placeholder-no-fix", @Placeholder = "New Password", id = "txtnewpassword" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.NewPassword)</span>
                    </div>

                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">Re-enter New Password</label>

                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.LoginConfirmPassword, new { @class = "m-wrap placeholder-no-fix", @Placeholder = "Confirm Password", id = "txtconfirmpassword" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.LoginConfirmPassword)</span>
                    </div>

                </div>
            </div>


            <div class="form-actions">
                @if (!Request.IsAuthenticated)
                {

                    @*<span>@Html.ActionLink("Go to Login", "Index", "Login")</span>*@
                    <a type="button" href="~/Login/Index" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> Cancel
                    </a>
                    @*@Html.ActionLink("Cancel", "Index", "Login")*@
                }
                <button type="submit" class="btn blue pull-right">
                    Change Password <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>

        <!-- END FORGOT PASSWORD FORM -->
        }
    </div>
    <!-- END LOGIN -->
    <script type="text/javascript">
        $(document).ready(function () {

            //For Login Enter Detail:-
            $("#txtUserName").val("dharam6990");
            $("#txtPassword").val("dharam6990");
            //Remove above code after Testing:-
        });
        function OnChange() {
            $("#divResult").addClass("hide");
        }

        function Begin() {
        }
        function Success(response, status, xhr) {
            $("#divResult").removeClass("hide");
            var res =divResult.textContent;
            if (res == "1") {
                $("#divResult").text("Password update sucessfully.");
                window.location.href = '@Url.Action("Index", "Login")';
            }
            if (res == "2") {
                $("#divResult").text("Password updated sucessfully.");
                window.location.href = '@Url.Action("Index", "DashBoard")';
            }
            if (res == "3") {
                $("#divResult").remove();
                alert("Error in updating your password.Please try later");
            }
        }
        function Failure(xhr, status, err) {
            alert('Oops,Something went wrong.Please try after sometime.');
        }
        function Complete() {
        }
    </script>
    <script>

        function ShowLoginDiv() {
            $("#divResult").addClass("hide");
            $("#divLogin").show();
            $("#divForgorPassword").hide();
            $(".field-validation-error").text('');
            $("#txtForgotEmail").val('');
            $('#RememberMe').attr('checked', false);

        }
        function ShowForgot() {
            $("#txtusername").val('');
            $("#txtpassword").val('');

            $("#divLogin").hide();
            $("#divForgorPassword").show();
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
