
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script>
    $(document).ready(function () {
        $('#ProjectTable').dataTable();
    });
</script>
<script>
    function Delete(id) {

        var conf = confirm("Are you sure you want to delete?");
        if (conf){

        $.ajax({
            url: '@Url.Action("Delete", "Client")',
            dataType: 'json',
            data: '{"ID":' + id + '}',
            type: "POST",
            contentType: 'application/json',
            success: function (data) {
                alert('Client deleted successfully.');
                window.location.href = '@Url.Action("ClientList", "Client")';
            },
            error: function (xhr, status, err) {
                if (xhr.status == "590") {

                }
                else {
                    alert('Oops,Something went wrong.Please try after sometime.');
                }
            }
        });
        }
        else
            return false;
    }
    
</script>
@model IEnumerable<AquatroHRIMS.Models.ProjectList>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="float:right">
            <div></div>
            <div class="col-md-offset-10">
                @Html.ActionLink("Add Project", "AddProject", "Project")
            </div>
        </div>
        <div class="col-md-12">
            <table id="ProjectTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            ProjectName
                        </th>
                        <th>
                            Internal Head
                        </th>

                        <th>
                            External Head
                        </th>
                        <th>
                            Status
                        </th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.ProjectName)

                            </td>
                            <td>
                                @Html.DisplayFor(m => item.InternalHead)

                            </td>

                            <td>
                                @Html.DisplayFor(m => item.ExternalHead)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Status)
                            </td><td>

                                @Html.ActionLink("Edit", "AddProject", "Project", new { @id = item.ProjectID }, null)
                                @*@Html.ActionLink("Edit", "ViewRequest", "Employee", new { @ID = item.EmpID }, null)*@
                                @*<a href="javascript:void()" onclick="Delete(@item.ProjectID)">Delete</a>*@
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>




