@model AquatroHRIMS.Models.HolidayList

@{
    ViewBag.Title = "CreateHolidayList";
    Layout = "~/Views/Shared/_Home.cshtml";
}


@*@using (Ajax.BeginForm("CreateHolidayList", "Leave", new AjaxOptions {UpdateTargetId = "divResult", OnBegin = "Begin", OnFailure = "Failure", OnSuccess = "Sucess", OnComplete = "Complete"  }))
    {*@
<div class="container">
    <div class="row">
        <div class="col-md-offset-10">
            <span> @Html.ActionLink("Holiday List", "HolidayList", "Leave")</span>
        </div>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Create Holiday</legend>
            <br />
            @using (Html.BeginForm("CreateHolidayList", "Leave", FormMethod.Post))
            {
                <div class="col-md-12 form_margin">
                    @Html.LabelFor(m => m.Occassion, new { @class = "col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Occassion, new { @class = "form-control", minlength = "2", maxlength = "50", id = "txtoccassion" })
                        <span style="color:red">@Html.ValidationMessageFor(m => m.Occassion)</span>
                    </div>
                </div>
                <div class="col-md-12 form_margin">
                    @Html.LabelFor(model => model.Description, new { @class = "col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "txtdescription" })
                        <span style="color:red"> @Html.ValidationMessageFor(model => model.Description)</span>
                    </div>
                </div>


                <div class="col-md-12 form_margin">
                    @Html.LabelFor(model => model.Date, new { @class = "col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group date' id='dateFrom'>
                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @placeholder = "mm/dd/yyyy", id = "txtdate" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>

                        </div>
                        <span style="color:red">
                            @Html.ValidationMessageFor(model => model.Date)
                        </span>
                    </div>
                </div>
               
                @*<div class="col-md-12 ">
                    <div class="col-md-6 col-md-push-2 ">
                        <div class="btn-group">
 
                         
                            <input type="reset" value="Reset" id="btnReset" class="btn btn-primary" onclick="fnReset();" />
                        </div>

                    </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-10">
                            <input type="submit" value="Create " id="btnCreate" class="btn btn-primary" />
                            <input type="submit" value="Update " id="btnUpdateClient" style="display:none" class="btn btn-primary" />     
                            <input type="reset" value="Reset" id="btnReset" class="btn btn-primary" onclick="fnReset();" />
                        </div>
                    </div>
                 <div class="form-group">
                     @if (TempData["Result"] != null)
                     {
                         <script>
                             alert('Leave Request submitted sucessfully');
                             $("#ddlLeavetype").val("");
                             $("#txtFromdate").val("");
                             $("#txtTodate").val("");
                             $("#txtNo_ofDay").val("");
                             $("#txtReason").val("");
                         </script>

                     }
                </div>
            }
        </fieldset>
    </div>
</div>

@*}*@


<script type="text/javascript">
    $(function () {
        $('#dateFrom').datepicker().on('changeDate', function (e) {
            $(this).datepicker('hide');
        });;
    });

    function fnReset() {
        $(".field-validation-error").text('');
    }
</script>

