
@{
    ViewBag.Title = "PendingLeaves";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#PendingLeaveTable').dataTable();
    });
</script>
@model  IEnumerable<AquatroHRIMS.ViewModel.PendingLeave>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Pending Leaves</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="PendingLeaveTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                LeaveType
                            </th>
                            <th>
                                Days
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType)


                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveStatus)

                        </td>
                        <td>
                            @Html.ActionLink("View", "ViewRequest", "Leave", new { @ID = item.LeaveID }, null)

                        </td>
                    </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    </fieldset>



