@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
@{
    ViewBag.Title = "ReviewSummaryComments";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script type="text/javascript">
    $(document).ready(function (e) {
        
        var count = @Model.list3.Count;

        if( count == 0){
            $("#divData").show();
        }
        else{
            $("#divFooter").css("display","block");
            $("#divData").hide();
        }
       
    });
</script>

@using (Html.BeginForm("ReviewSummaryComments", "QuadrantMeasures", FormMethod.Post))
{
         <div id="divData" class="panel-group">
        <div class="panel panel-default" id="panel1">
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="container">
                    <div class="row">
                        <div class="bs-example">
                            <div style="color:red;" class="col-sm-offset-4">
                                <h4>Summary comment not set by employee.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tbody>
        @foreach (var item in @Model.list3)
        {
            <div class="container" id="container3">
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="bs-example col-sm-12">
                            <table class="table table-bordered" id="tblSummaryComments">
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <label>Employee Sumarry Comments:</label>
                                            <br>                                     
                                            <textarea class="form-control" rows="5" id="txtAction1" disabled="disabled">@Html.DisplayFor(modelItem => item.SummaryComments)</textarea>                                        
                                            @*@Html.TextAreaFor(m => m.objSummaryComment.sDescription, new { id = "txtArea0",@class ="form-control", rows="5" })*@
                                            @Html.HiddenFor(m => m.AdminFlag, new { id = "hdnAdminFlag" })
                                            @Html.HiddenFor(m => m.ReportingHeadFlag, new { id = "hdnReportingHeadFlag" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                                                    
                            <br>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        }
        <div class="container" id="divFooter">
            <div class="col-sm-offset-5">
                @Html.ActionLink("Back", "ReviewDevelopmentGoal", "QuadrantMeasures", new { @id = Url.RequestContext.RouteData.Values["ID"] }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Next", "ManagerReviewRating", "QuadrantMeasures", new { @id = Url.RequestContext.RouteData.Values["ID"] }, new { @class = "btn btn-primary" })

            </div>
        </div>
     
    </tbody>
 }

