@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
@{    
   Layout = "~/Views/Shared/_Home.cshtml";
}
<script type="text/javascript">
    $(document).ready(function (e) {
        
        var count = @Model.list2.Count;

        if( count == 0){
            $("#divFooter").css("display","none");
            $("#divData").show();
        }
        else{
            $("#divFooter").css("display","block");
            $("#divData").hide();
        }

        for(i=1;i<= count ;i++){
            if($("#hdnManagerComment"+i).val() != ""){
                $("#txtManagerComment"+i).val($("#hdnManagerComment"+i).val());
            }
        }

        if($("#hdnReportingHeadFlag").val() == "True"){           
            $("#btnSave").show();
        }else if($("#hdnAdminFlag").val() == "True" && $("#hdnReportingHeadFlag").val() == "False"){            
            $("#btnSave").hide();
        }
    });

    function fnValidateFields()
    {
        var count = @Model.list2.Count;
        var flag = false;
        for(i=1; i<= count ;i++)
        {
            if($("#txtManagerComment"+i).val() == "")
            {
                $("#lbl"+i).css("display","block");
                flag =true;
            }
        }
        if(flag == true){
            return false;
        }else{
            return true;
        }

    }
    function fnHideErrorMessage(id,value)
    {
        var count = id.replace("txtManagerComment","");
        $("#lbl"+count).css("display","none");
    }
</script>
<style>
    .labelName {
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("ReviewDevelopmentGoal", "QuadrantMeasures", FormMethod.Post))
{
    <tbody>
        @foreach (var item in @Model.list2)
        {
            <div class="container" id="container2">
                <br>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#Development"
                                   href="#Development">Development Plan</a>
                            </h4>
                        </div>
                        <div id="Development" class="panel-collapse collapse in">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="bs-example col-sm-12">
                                        <table class="table table-bordered" id="tblDevelopmentPlans">
                                            <tbody>
                                                <tr>
                                                    <td><label>Development Goal</label></td>
                                                    <td><label>Action Required</label></td>
                                                    <td><label>Tracking</label></td>
                                                    <td rowspan="2">                                                        
                                                        @Html.DisplayFor(modelItem => item.StatusName)
                                                        @Html.HiddenFor(m => m.DevelopmentPlanID[item.Count - 1], new { Value = item.ID })
                                                        @Html.HiddenFor(m => m.AdminFlag, new { id = "hdnAdminFlag" })
                                                        @Html.HiddenFor(m => m.ReportingHeadFlag, new { id = "hdnReportingHeadFlag" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                       @Html.DisplayFor(modelItem => item.GoalName)
                                                        @*<input type="text" class="form-control" id="txtGoalName1" disabled="disabled" />*@
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" rows="5" id="txtAction1" disabled="disabled">@Html.DisplayFor(modelItem => item.ActionRequired)</textarea>

                                                    </td>
                                                    <td><textarea class="form-control" rows="5" id="txtTracking1" disabled="disabled">@Html.DisplayFor(modelItem => item.Tracking)</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <label>Manager Comments:</label>
                                                        <br>
                                                        @*<textarea class="form-control" rows="5" id="txtManagerComment1"></textarea>*@
                                                        @Html.TextAreaFor(m => m.ManagerComments[item.Count - 1], new { rows = "5", @class = "form-control", id = "txtManagerComment" + item.Count, onkeypress = "fnHideErrorMessage(id,value)" ,  })
                                                        @Html.LabelFor(m => m.ManagerComments, "Please enter Manager Comments.", new { id = "lbl" + @Html.DisplayFor(modelItem => item.Count), style = "display:none; color:red; font-size:12px;" })
                                                        @Html.HiddenFor(m => item.ManagerComment, new { id = "hdnManagerComment" + item.Count })
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>                    
                    <br>
                </div>
                <br>
            </div>
            
        }
        <div class="container" id="container2">
            <br>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="panel1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#Development"
                               href="#Development">Attachment List</a>
                        </h4>
                    </div>
                    <div id="AttachmentDevelopment" class="panel-collapse collapse in">
                        @if (Model.listFileAttachment.Count > 0)
                        {
                            <table>
                                @foreach (var item in Model.listFileAttachment)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.FileName, "Download", new { id = item.ID }, null)
                                        </td>
                                    </tr>
                                }
                            </table>

                        }
                        else
                        {
                            <span style="color:red">
                                There is no attachment.
                            </span>
                        }
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
        </div>
        <div class="container" id="divFooter">
            <div class="col-lg-12">
                <input type="submit" id="btnSave" class="btn btn-primary" value="Save" onclick="return fnValidateFields()" />
                @Html.ActionLink("Back", "ReviewQuadrantDetails", "QuadrantMeasures", new { @id = Url.RequestContext.RouteData.Values["ID"] }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Next", "ReviewSummaryComments", "QuadrantMeasures", new { @id = Url.RequestContext.RouteData.Values["ID"] }, new { @class = "btn btn-primary" })
                @*<input type="button" class="btn btn-primary" id="back2" value="Back" onclick="location.href = '/QuadrantMeasures/ReviewQuadrantDetails'">
                @Html.ActionLink("Next", "ReviewSummaryComments", "QuadrantMeasures", new { @id = Url.RequestContext.RouteData.Values["ID"] }, null)*@
                @*<input type="button" class="btn btn-primary" id="next1" value="Next" onclick="location.href = '/QuadrantMeasures/ReviewSummaryComments'">
                <button type="button" class="btn btn-primary">Cancel</button>*@
            </div>
        </div>
        <div id="divData" style="display:none">
            No Data Found.
        </div>
        </tbody>
}
