@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
@{
    ViewBag.Title = "ReviewSummaryComments";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style type="text/css">
    .dyncontrols {
        display: none;
        color: red;
        font-size: 12px;
    }
</style>
<script type="text/javascript">


    function fnAddNew()
    {
        var tbodyLength = $("#tblSummaryComments tbody").length;
        var table = document.getElementById("tblSummaryComments");
        var Count = tbodyLength + 1;

        var tbody = document.createElement("tbody");
        tbody.setAttribute("id", "tbody" + Count);
        
        var rowCount = tbody.rows.length;
        var row = tbody.insertRow(rowCount);
        var idRowCount = rowCount + 1;

        var cell11 = row.insertCell(0);
        var element6 = document.createElement("textarea");       
        element6.id = "txtArea" + Count;        
        element6.className = "form-control";
        element6.rows = "5";
        element6.onkeypress = function () {
            $("#spnSummaryComment" + Count).css("display", "none");
        }

        var element12 = document.createElement('span');
        element12.id = "spnSummaryComment" + Count;
        element12.innerText = "Please enter Summary Comment.";
        element12.className = "dyncontrols";

        cell11.appendChild(element6);
        cell11.appendChild(element12);
        
        rowCount = rowCount + 1;
        var row = tbody.insertRow(rowCount);

        table.appendChild(tbody);
    }
    function saveSummaryComments()
    {
        if (fnValidateFields()) {
            var arr = new Array();
            var jsonArr = [];
            var tbodyLength = $("#tblSummaryComments tbody").length;
            for (var i = 1 ; i <= tbodyLength ; i++) {
                arr[i] = $("#txtArea" + i).val();
            }

            $.ajax({
                url: '../QuadrantMeasures/SaveSummaryComments?SummaryComments=' + arr,
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {
                    window.location.href = '@Url.Action("SummaryComments", "QuadrantMeasures")';
                },
                error: function (jqXHR, exception) {
                    window.location.href = '@Url.Action("SummaryComments", "QuadrantMeasures")';
                }
            });
        }
    }
    function fnHideErrorMsg(id, value, errorSpan, controlName) {        
        $("#" + errorSpan).css("display", "none");
    }
    function fnValidateFields() {
        var flag = false;
        var tbodyLength = $("#tblSummaryComments tbody").length;       
        for (i = 1; i <= tbodyLength; i++) {
            if ($("#txtArea" + i).val() == "") {
                $("#spnSummaryComment" + i).css("display", "block");
                flag = true;
            }
        }
        if (flag == true) {
            return false;
        } else {
            return true;
        }
    }
</script>
@using (Html.BeginForm("SummaryComments", "QuadrantMeasures", FormMethod.Post))
{
     <div class="row">
        <div class="col-md-12" style="float:right">

            <div class="col-md-offset-10">
                <a href="javascript:void(0)" onclick="location.href = '@Url.Action("SummaryCommentList", "QuadrantMeasures")'">Summary Comment List </a>
            </div>
        </div>
    </div>
<div class="container" id="container3">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="bs-example col-sm-12">
                <table class="table table-bordered" id="tblSummaryComments">
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <label>Employee Sumarry Comments:</label>
                                <br>
                                <textarea class="form-control" rows="5" id="txtArea1" onkeypress="fnHideErrorMsg(id, value, 'spnSummaryComment1', 'txtArea')"></textarea>
                                <span id="spnSummaryComment1" style="display: none; color: red; font-size: 12px;">Please enter Summary Comment.</span>
                                @*@Html.TextAreaFor(m => m.objSummaryComment.sDescription, new { id = "txtArea0",@class ="form-control", rows="5" })*@
                            </td>
                        </tr>                       
                    </tbody>                                       
                </table>
              
                <br>
                <div class="container">
                    <div class="col-lg-12">
                        @*<button type="button" class="btn btn-primary">Add New</button>*@
                        <input type="button" id="btnAddNew" value="Add New" class="btn btn-primary" onclick="fnAddNew()" />
                        <input type="button" id="btnAddNew" value="Save" class="btn btn-primary" onclick="saveSummaryComments()" />
                        @*<input type="button" class="btn btn-primary" id="back2" value="Back" onclick="location.href = '/QuadrantMeasures/DevelopmentGoals'">                          
                        <input type="button" class="btn btn-primary" id="next1" value="Next" onclick="location.href = '/QuadrantMeasures/ReviewRatings'">    
                        <button type="button" class="btn btn-primary">Cancel</button>*@
                        @Html.ActionLink("Back", "DevelopmentGoals", "QuadrantMeasures")
                        @Html.ActionLink("Next", "ReviewRatings", "QuadrantMeasures")
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
</div>
}