
@model AquatroHRIMS.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = null;

}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->

    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/excanvas.min.js"></script>
    <script src="~/assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/js/app.js" type="text/javascript"></script>
    <script src="~/assets/js/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <!-- PUT YOUR LOGO HERE -->
        <img src="~/Content/Images/logo.jpg" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
  
@using (Ajax.BeginForm("Index", "Login", new AjaxOptions {  OnBegin = "Begin", OnFailure = "Failure", OnSuccess = "Sucess", OnComplete = "Complete" }, new { @class = "form-horizontal", role = "form" }))
{



          <!-- BEGIN LOGIN FORM -->
    <div id="divLogin">
        <h3 class="form-title">Account Login</h3>
            <div class="control-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email Id</label>
               
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        @Html.TextBoxFor(m => m.EmailID, new { @class = "m-wrap placeholder-no-fix", @placeholder = "User Email Id", id = "txtusername", onkeypress = "OnChange()" })
                        <span style="color:red"> @Html.ValidationMessageFor(m => m.EmailID)</span>
                    </div>
               
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Password", id = "txtpassword"})
                        <span style="color:red"> @Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
               
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @*<input type="checkbox" name="remember" value="1" />*@&nbsp;&nbsp;Remember me
                </label>
                <button type="submit" class="btn blue pull-right">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>Forgot your password ?</h4>
                <p>
                    Click <a href="javascript:void(0);" onclick="ShowForgot()" id="forget-password">here</a>
                    to reset your password.
                </p>
            </div>
          
     </div>
   
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <div id="divForgorPassword" style="display:none" >
        <h3 style="text-align:center">Forget Password ?</h3>
        <p>Enter your e-mail address below to reset your password.</p>
        <div class="control-group">
      
                <div class="input-icon left">
                    <i class="icon-envelope"></i>
                    @Html.TextBoxFor(m => m.ForgotEmailID, new { @class = "m-wrap placeholder-no-fix", @placeholder = "User Email Id", id = "txtForgotEmail" })
                    <span style="color:red"> @Html.ValidationMessageFor(m => m.ForgotEmailID)</span>
                </div>
          
        </div>
        <div class="form-actions">
            <button type="button" onclick="javascript: ShowLoginDiv()" id="back-btn" class="btn">
                <i class="m-icon-swapleft"></i> Back
            </button>
            <button type="submit" class="btn blue pull-right">
                Submit <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </div>
        <!-- END FORGOT PASSWORD FORM -->
}
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2014 &copy; <a href="#">A4 Technology Solution</a>
    </div>
    <!-- END COPYRIGHT -->

    <script type="text/javascript">
    $(document).ready(function () {

        //For Login Enter Detail:-
        $("#txtUserName").val("dharam6990");
        $("#txtPassword").val("dharam6990");
        //Remove above code after Testing:-
    });
    //function OnChange() {
    //    $("#divResult").css("display", "none")
    //}

    function Begin() {
    }
    function Sucess(response, status, xhr) {
        switch (response) {
            case "0":
                window.location.href = '@Url.Action("ChangePassword", "Login")';
                break;
            case "1":
                window.location.href = '@Url.Action("Profile", "Dashboard")';
                break;
            case "2":
                window.location.href = '@Url.Action("Index", "Dashboard")';
                break;
            case "3":
                alert("Username or Password does not match");
                break;
            case "4":
                $("#txtForgotEmail").val("");
                alert("Mail sent successfully");
                break;

            default:
                alert('Oops,Something went wrong.Please try after sometime.');
                break;
        }
    }
    function Failure(xhr, status, err) {
        alert('Oops,Something went wrong.Please try after sometime.');
    }
    function Complete() {
    }
    </script>
    <script>
        
        function ShowLoginDiv() {
            $("#divLogin").show();
            $("#divForgorPassword").hide();
            $(".field-validation-error").text('');
            $("#txtForgotEmail").val('');
            $('#RememberMe').attr('checked', false);
            
        }
        function ShowForgot() {
            $("#txtusername").val('');
            $("#txtpassword").val('');
            
            $("#divLogin").hide();
            $("#divForgorPassword").show();
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>








